.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    flex: 1 1 0px;
}
.header {
    background-color: black;
    color: white;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
}
.header:hover {
    transform: scale(1, -1);
}
.column {
    display: flex;
    flex-direction: column;
    
    width:25%
}

.left {
    justify-content: flex-start;
    background-color: #efefef;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:2%;
    margin-right:2%;
    border-radius: 0 10px 10px 0;
}

.centerLeft {
    display: none;
    justify-content: flex-start;
    background-color: #efefef;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:2%;
    margin-right:2%;
    border-radius: 0 10px 10px 0;
}

.centerRight {
    /*to do at a later date*/
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:2%;
    margin-right:2%;
}

.right {
    /*to do at a later date*/
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:2%;
    margin-right:2%;
}

.materialImage {
    vertical-align: middle;
    line-height: 10vh;
    align-items:flex-start;
    text-align: right;
}
.upgradeImage {
    vertical-align: middle;
    line-height: 10vh;
    align-items:flex-start;
    text-align: right;
}

.columnTitles {
    text-align: center;
}



/* #materialCT {

} */
#shopCT {
    display: none;
}
#foodCT {
    display: none;
}
#buildCT {
    display: none;
}

#tooSmall {
    background-color: black;
    color: white;
    display: none;
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
}

/*code from universal paperclips*/
@media only screen and (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
    }
    #tooSmall {
        display:block;
    }

    #container {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    body {
        margin: 0;
        padding: 0;
    }
    #tooSmall {
        display: none;
    }

    #container {
        display: block;
    }
}

p {
    display: inline;
}
.shopText {
    display: block;
    margin: 0;
    padding: 0;
}

/* CSS */
button {
  background-color: white;
  border-radius: 8px;
  border-width: 0;
  display: inline-block;
  line-height: 20px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor:pointer;
  font-family: 'Minecraft';
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: darkgray;
}

@font-face {
    font-family: "Minecraft";
    src: url(minecraft-font.otf);
}
body {
    font-family: 'Minecraft';
    background-color: white;
}

